ChatbotAI3.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.chatInput}}",
        "options": {
          "systemMessage": "=Kamu adalah seorang asisten chatbot AI yang profesional untuk sirull academy. kenalkan dan tawarkan berbagai program di sirul academy beserta harga nya sesuai data pada google sheet hanya ketika awal percakapan. jika kamu tidak tahu atau tidak ada data yan sesuai dengan google sheet untuk beberapa pertanyaan, jangan sungkan meminta maaf dan arahkan ke website www.sirulacademy.co.id. akhiri tiap percapakan dengan terima kasih ka  {{ $json.message.from.first_name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        -144
      ],
      "id": "59694dc2-ddc6-40bd-b985-891c28b98e4e",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        176
      ],
      "id": "b5ec71f3-1b7c-4a00-9399-10920bdf3236",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "U4gNJaMvEAqBtkuT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.sessionId}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        512,
        176
      ],
      "id": "fc064011-532a-43fd-9e17-5005762c09fc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jGupBkkhJcyoq00V4aEtjC9nz4PzT9UHj0GUVw641xA",
          "mode": "list",
          "cachedResultName": "n8n 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGupBkkhJcyoq00V4aEtjC9nz4PzT9UHj0GUVw641xA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGupBkkhJcyoq00V4aEtjC9nz4PzT9UHj0GUVw641xA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        688,
        176
      ],
      "id": "cf0a9a79-15e9-4ce8-a9a0-04ec5770cf1b",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j9nPVvUarBtZGX28",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        176,
        -144
      ],
      "id": "da22caf2-d16b-444c-aa7b-bac0a3b16466",
      "name": "When chat message received",
      "webhookId": "26cf714f-bbed-48c0-9c5d-864674e0e475"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e06d2aeb-ede6-41e4-8857-d60db036430c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "83212a5f0a2f4128373a9e0b42084171c8e17c737f49d9aa91c71ae64f3bf636"
  },
  "id": "TqiTSHSco80cyO0q",
  "tags": []
}