Chatbot AI2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "57e9c0f3-4e24-4aec-9d39-4b4a6248f6fa",
      "name": "Telegram Trigger",
      "webhookId": "ba3db6fe-b685-494f-b24e-0078f9a51c30",
      "credentials": {
        "telegramApi": {
          "id": "HNkl9LvRXfH6InNU",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Kamu adalah seorang asisten chatbot AI yang profesional untuk sirull academy. kenalkan dan tawarkan berbagai program di sirul academy beserta harga nya sesuai data pada google sheet hanya ketika awal percakapan. jika kamu tidak tahu atau tidak ada data yan sesuai dengan google sheet untuk beberapa pertanyaan, jangan sungkan meminta maaf dan arahkan ke website www.sirulacademy.co.id. akhiri tiap percapakan dengan terima kasih ka  {{ $json.message.from.first_name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "113c23bb-be30-4ef7-9a06-5ae00235e789",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        320
      ],
      "id": "5109e4a6-dd8f-4a1b-b42e-563bec180620",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "KjXevPUhwDnddKsC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "ae6b2f2f-a9ee-4fdd-8b9d-563b1e64d3b7",
      "name": "Send a text message",
      "webhookId": "7558331f-1d62-45f8-b3df-0d9e8a396cc4",
      "credentials": {
        "telegramApi": {
          "id": "HNkl9LvRXfH6InNU",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jGupBkkhJcyoq00V4aEtjC9nz4PzT9UHj0GUVw641xA",
          "mode": "list",
          "cachedResultName": "n8n 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGupBkkhJcyoq00V4aEtjC9nz4PzT9UHj0GUVw641xA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGupBkkhJcyoq00V4aEtjC9nz4PzT9UHj0GUVw641xA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        496,
        320
      ],
      "id": "d2a151ab-01ee-47ed-8869-e10abc0d671e",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Mo1wcmyG9WbJUzoA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        320
      ],
      "id": "14d79aa4-e9fe-462a-86bc-9e038958f4aa",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6bcde4f6-fdb4-4041-9c99-08bd5e274a58",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "63d461c04c21518a91fab75054d0efc4571b7f5696b8b74cb60d888c2470cb15"
  },
  "id": "s9zBibyWgelN49DT",
  "tags": []
}